In [ ]:
import pypyodbc as od
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [ ]:
DRIVER_NAME = 'SQL SERVER'
SERVER_NAME = 'ADNAN\SQLEXPRESS'
DATABASE_NAME = 'FitBit'

connection_string = f"""
DRIVER={{{DRIVER_NAME}}};
SERVER={SERVER_NAME};
DATABASE={DATABASE_NAME};
Trust_Connection=yes;
"""

conn = od.connect(connection_string)
print(conn)

<pypyodbc.Connection object at 0x000001DE8913F410>

In [ ]:
cursor = conn.cursor()

In [ ]:
df1 = pd.read_sql('SELECT * FROM [Daily Activity Info]', conn)
df1.head()

,id,activityday,sedentaryminutes,lightlyactiveminutes,fairlyactiveminutes,veryactiveminutes,sedentaryactivedistance,lightactivedistance,moderatelyactivedistance,veryactivedistance,totaldistance,trackerdistance,steptotal,calories
0,1503960366,2016-04-12,728,328,13,25,0.0,6.06,0.55,1.88,8.50,8.50,13162,1985
1,1503960366,2016-04-13,776,217,19,21,0.0,4.71,0.69,1.57,6.97,6.97,10735,1797
2,1503960366,2016-04-14,1218,181,11,30,0.0,3.91,0.40,2.44,6.74,6.74,10460,1776
3,1503960366,2016-04-15,726,209,34,29,0.0,2.83,1.26,2.14,6.28,6.28,9762,1745
4,1503960366,2016-04-16,773,221,10,36,0.0,5.04,0.41,2.71,8.16,8.16,12669,1863

In [ ]:
df2 = pd.read_sql('SELECT * FROM [Hourly Activity Info]', conn)
df2.head()

,id,activityhour,averageintensity,totalintensity,steptotal,calories
0,1503960366,2016-04-12 00:00:00,0,20,373,81
1,1503960366,2016-04-12 01:00:00,0,8,160,61
2,1503960366,2016-04-12 02:00:00,0,7,151,59
3,1503960366,2016-04-12 03:00:00,0,0,0,47
4,1503960366,2016-04-12 04:00:00,0,0,0,48

In [ ]:
df1.to_csv('Daily Activity Info.csv', index=False)

In [ ]:
df2.to_csv('Hourly Activity Info.csv', index=False)

In [ ]:
conn.close()